.error {
  color: red; }

.redInput {
  border: 2px solid red;
  border-radius: 4px; }

.formWidth {
  margin-top: 70px;
  display: flex;
  justify-content: center; }

.centerButton {
  margin-top: 4vh; }

.formBorder {
  border: 2px solid black;
  border-radius: 7pt;
  padding: 50px; }
  .formBorder .form-group:nth-child(3) input {
    height: 123px;
    padding: 20px 3px 123px 3px;
    word-wrap: break-word;
    word-break: break-all; }

form a {
  margin-left: 5px; }

.postsBorder {
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 7pt;
  padding-bottom: 2%; }

.singlePost {
  display: inline-block;
  margin-left: 38vw;
  margin-top: 15vh;
  padding: 1%;
  border: 2px solid black;
  border-radius: 7pt; }
  .singlePost button {
    margin-left: 5px; }
