.error {
  color: red; }

.redInput {
  border: 2px solid red;
  border-radius: 4px; }

body {
  background-image: url("https://wallpaperbrowse.com/media/images/518164-backgrounds.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0; }

.formWidth {
  margin-top: 14vh;
  display: flex;
  justify-content: center; }
  .formWidth label {
    color: whitesmoke; }
  .formWidth .form-group {
    text-align: center; }

.centerButtons {
  display: flex;
  justify-content: center;
  margin-top: 4vh; }

.formBorder {
  background-color: #4a148c;
  border: 2px solid black;
  border-radius: 7pt;
  padding: 50px;
  box-shadow: 10px 10px; }
  .formBorder .form-group:nth-child(3) input {
    height: 123px;
    padding: 20px 3px 123px 3px;
    word-wrap: break-word;
    word-break: break-all; }

.navBar {
  display: flex;
  justify-content: center;
  margin-top: 2vh; }

.navbar {
  border: 2px solid ghostwhite;
  border-radius: 7pt;
  width: 60%; }
  .navbar button {
    position: relative;
    right: 1vw; }

form a {
  margin-left: 5px; }

.postsBorder {
  margin-top: 14vh;
  border: 2px solid black;
  border-radius: 7pt;
  padding-bottom: 2%;
  padding-top: 1%;
  background-color: #4a148c;
  box-shadow: 10px 10px; }
  .postsBorder h3 {
    color: whitesmoke; }

.totalPosts {
  text-align: center; }

.singlePost {
  background-color: whitesmoke;
  width: 40%;
  padding: 1%;
  border: 2px solid black;
  border-radius: 7pt;
  text-align: center;
  box-shadow: 10px 10px; }
  .singlePost hr.one {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); }
  .singlePost hr.two {
    border-top: 1px dashed #8c8b8b;
    margin-bottom: 3vh; }
  .singlePost button {
    margin-left: 5px; }
  .singlePost p {
    margin-bottom: 5vh; }
