.error {
  color: red;
  margin-top: 8px;
}

.redInput {
  border: 2px solid red;
  border-radius: 4px;
}

body {
  background-image: url('https://wallpaperbrowse.com/media/images/518164-backgrounds.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.textWhite {
  color: ghostwhite;
}

.formWidth {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  label {
    color: whitesmoke;
  }
  .form-group {
    text-align: center;
  }
}

.centerButtons {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}
.centerButtons2 {
  margin-right: 10px;
}
.welcomeHeader {
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
  border: 2px solid black;
  border-radius: 7pt;
  margin-left: 40vw;
  margin-right: 40vw;
  box-shadow: 10px 10px;
}

.formBorder {
  background-color: #4a148c;
  border: 2px solid black;
  border-radius: 7pt;
  padding: 50px;
  box-shadow: 10px 10px;
  .form-group:nth-child(3) {
    input {
      height: 123px;
      padding: 20px 3px 123px 3px;
      word-wrap: break-word;
      word-break: break-all;

    }
  }
}
.addUserForm {
  background-color: #4a148c;
  border: 2px solid black;
  border-radius: 7pt;
  padding: 50px;
  box-shadow: 10px 10px;
}
.navBar {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.navbar {
  border: 2px solid ghostwhite;
  border-radius: 7pt;
  width: 60%;
  button {
    position: relative;
    right: 1vw;
  }
}
form a {
  margin-left: 5px;
}

.postsBorder {
  margin-top: 10vh;
  border: 2px solid black;
  border-radius: 7pt;
  padding-bottom: 2%;
  padding-top: 1%;
  background-color: #4a148c;
  h3 {
    color: whitesmoke;
  }
  box-shadow: 10px 10px;
}

.totalPosts {
  text-align: center;
}

.singlePost {
  background-color: whitesmoke;
  width: 40%;
  padding: 1%;
  border: 2px solid black;
  border-radius: 7pt;
  text-align: center;
  box-shadow: 10px 10px;
  hr.one {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }
  hr.two {
    border-top: 1px dashed #8c8b8b;
    margin-bottom: 3vh;
  }
  button {
    margin-left: 5px;
  }
  p {
    margin-bottom: 5vh;
  }
}
