.error {
  color: red;
}

.formWidth{
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.centerButton {
  margin-left: 5vw;
  margin-top: 2vh;
}

.formBorder {
  border: 2px solid black;
  border-radius: 7pt;
  padding: 50px;
}